@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #090b1a;
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .seluruh-konten {
  max-width: 1130px;
  background-color: #1b1938;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1rem;
}

.container .seluruh-konten .konten-tulisan {
  margin: -1rem;
  padding: 5% 15% 5% 8%;
  margin-top: 1rem;
}

.container .seluruh-konten .konten-tulisan h1 {
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 2.3rem;
  font-weight: 700;
  margin-right: -3rem;
  margin-bottom: 2rem;
}

.container .seluruh-konten .konten-tulisan h1 span {
  color: #aa5cdb;
}

.container .seluruh-konten .konten-tulisan .isi {
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.75);
}

.container .seluruh-konten .konten-tulisan .konten-bawah {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .seluruh-konten .konten-tulisan .konten-bawah .isi-konten-bawah {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .seluruh-konten .konten-tulisan .konten-bawah .isi-konten-bawah .tittle {
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  color: white;
}

.container .seluruh-konten .konten-tulisan .konten-bawah .isi-konten-bawah .bawah-tittle {
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.6);
}

.container .seluruh-konten .konten-gambar {
  background-color: #aa5cdb;
  border-radius: 0 1rem 1rem 0;
}

.container .seluruh-konten .konten-gambar .mobile {
  display: none;
}

.container .seluruh-konten .konten-gambar .dekstop {
  height: 100%;
  opacity: 75%;
  border-radius: 0 1rem 1rem 0;
  mix-blend-mode: multiply;
}

@media screen and (max-width: 380px) {
  .container .seluruh-konten {
    width: 88%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container .seluruh-konten .konten-tulisan {
    margin: 0;
    padding: 5% 10% 5% 10%;
    margin-top: 2rem;
  }
  .container .seluruh-konten .konten-tulisan h1 {
    margin-right: -0.5rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    text-align: center;
  }
  .container .seluruh-konten .konten-tulisan .isi {
    text-align: center;
    margin-right: -0.5rem;
  }
  .container .seluruh-konten .konten-tulisan .konten-bawah {
    margin-top: 4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container .seluruh-konten .konten-tulisan .konten-bawah .isi-konten-bawah {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 2rem;
  }
  .container .seluruh-konten .konten-gambar {
    background-color: #aa5cdb;
    border-radius: 1rem 1rem 0 0;
  }
  .container .seluruh-konten .konten-gambar .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    opacity: 75%;
    mix-blend-mode: multiply;
  }
  .container .seluruh-konten .konten-gambar .dekstop {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */